In [35]:
#Set
numbers = {1, 2, 3, 4, 5}

#tuples
vulcan = ["Ali", "Mubashir", "Najeeb", "Rahim", "Hamza", "Ibad"]

#Lists
starships = (1701, "Enterprise", 1728.40, 1031, "Discovery", 1207.3)

marks = {'Ali': 100, 'Riaz': 95}

In [36]:
type(numbers)

set

In [37]:
type(starships)

tuple

In [38]:
type(vulcan)

list

In [39]:
type(marks)

dict

In [28]:
t1 = (21, 0, 11, 23, 45, 56, 76, 44, 32)
t2= sorted(t1)
print(t2)
type(t2)

[0, 11, 21, 23, 32, 44, 45, 56, 76]

list

In [29]:
len(t2)

9

In [31]:
translate = zip(numbers, vulcan)
print(translate)
type(translate)

<zip object at 0x000002218F49C780>

zip

In [32]:
listTranslate = list(translate)
print(listTranslate)

[(1, 'Ali'), (2, 'Mubashir'), (3, 'Najeeb'), (4, 'Rahim'), (5, 'Hamza')]

In [45]:
marks = {'Ali': 100, 'Riaz': 95, "Najeeb": 94,
        'Mubashir': [90, 78, 85, 91, 89],
        'Rahim': {'SRS': 80, 'FMSE': 90, 'SC': 86}}
print(marks['Mubashir'])
print(marks['Rahim'])

[90, 78, 85, 91, 89]
{'SRS': 80, 'FMSE': 90, 'SC': 86}

In [49]:
print(marks['Mubashir'][0]);

90

In [51]:
studentMarks = marks.keys()
print(studentMarks)

dict_keys(['Ali', 'Riaz', 'Najeeb', 'Mubashir', 'Rahim'])

In [53]:
marks['Rahim'] = {'Web': 80}
print(marks)

{'Ali': 100, 'Riaz': 95, 'Najeeb': 94, 'Mubashir': [90, 78, 85, 91, 89], 'Rahim': {'Web': 80}}

In [54]:
rank = marks.values()
pairs = marks.items()
print(rank)
print(pairs)

dict_values([100, 95, 94, [90, 78, 85, 91, 89], {'Web': 80}])
dict_items([('Ali', 100), ('Riaz', 95), ('Najeeb', 94), ('Mubashir', [90, 78, 85, 91, 89]), ('Rahim', {'Web': 80})])

In [61]:
pairs = {'Captain': 'James T. Kirk',
'First Officer': 'Spock',
'Science Officer': 'Spock',
'Communications Officer': 'Uhura',
'Navigator': 'Pavel Chekov', 
'Security Tactical Officer': 'Pavel Chekov',
'Chief Engineer': 'Montgomery Scott', 
'Chief Medical Officer': 'Leonard McCoy',
'Helmsman': 'Hikaru Sulu'}
print(pairs)

{'Captain': 'James T. Kirk', 'First Officer': 'Spock', 'Science Officer': 'Spock', 'Communications Officer': 'Uhura', 'Navigator': 'Pavel Chekov', 'Security Tactical Officer': 'Pavel Chekov', 'Chief Engineer': 'Montgomery Scott', 'Chief Medical Officer': 'Leonard McCoy', 'Helmsman': 'Hikaru Sulu'}
dict_keys(['Captain', 'First Officer', 'Science Officer', 'Communications Officer', 'Navigator', 'Security Tactical Officer', 'Chief Engineer', 'Chief Medical Officer', 'Helmsman'])
dict_values(['James T. Kirk', 'Spock', 'Spock', 'Uhura', 'Pavel Chekov', 'Pavel Chekov', 'Montgomery Scott', 'Leonard McCoy', 'Hikaru Sulu'])

In [64]:
numberSet = [1, 2, 3, 4, 5, 6, 7, 8, 6, 6, 6, 7, 9]
type(numberSet)
print(numberSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [69]:
# set() function set
extinct = set([7, 4, 5, 6, 7])
print(extinct)

# dict() function for declaring dictionary
mark = dict({'Ali': 34})
print(mark)

{4, 5, 6, 7}
{'Ali': 34}

In [73]:
print(23 - 12 == 45)
type(23 - 12 == 45)

False

bool

In [79]:
a = 75 == 75
(51 > 21) and a

True

In [76]:
(72 > 32) and ((94 == 87) or not a)

True

In [86]:
officers = ['Admiral', 'Commander', 'Lieutenant', 'Chief'] 
president = 'Laura Roslin'
if president in pairs: print('We have a problem!')    
elif president in officers: print('We need an election!')
else: print('Phew! So say we all!')

Phew! So say we all!