In [6]:
import numpy as np

s = np.random.normal(size = 1500)
b = np.arange(-4, 5)
h = np.histogram(s, bins = b, density = True)[0]

In [8]:
bins = 0.5 * (b[1:] + b[:-1])
from scipy import stats

pdf = stats.norm.pdf(bins)

In [11]:
print(bins)

[-3.5 -2.5 -1.5 -0.5  0.5  1.5  2.5  3.5]

In [12]:
loc, std = stats.norm.fit(s)
print(loc, std)

-0.0049297475817221175 0.978518474272796

In [13]:
np.mean(s)

-0.0049297475817221175

In [14]:
np.median(s)

-0.027288248002864116

In [16]:
import pandas as pd

a1 = np.array([14,75, 90.55, 55.99, 25.7])
s1 = pd.Series(a1)

In [17]:
type(s1)

pandas.core.series.Series

In [32]:
names = ['Greater London', 'Tokyo', 'Paris', 'New York']

population = [8663300, 9272565, 2229621, 8491079]

area = [1572, 627, 105, 784]

In [33]:
df = pd.DataFrame({'cities': names, 'population': population, 'area': area})

In [34]:
type(df)

pandas.core.frame.DataFrame

df.head(2)

In [35]:
df.tail(2)

     cities  population  area
2     Paris     2229621   105
3  New York     8491079   784

In [36]:
df.dtypes

cities        object
population     int64
area           int64
dtype: object

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cities      4 non-null      object
 1   population  4 non-null      int64
 2   area        4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [38]:
df.columns

Index(['cities', 'population', 'area'], dtype='object')

In [39]:
df['population'][2:4]

2    2229621
3    8491079
Name: population, dtype: int64

In [40]:
df[['cities', 'area']][0:1]

           cities  area
0  Greater London  1572

In [41]:
df.set_index('cities', inplace=True)

In [42]:
df.loc['Tokyo']

population    9272565
area              627
Name: Tokyo, dtype: int64

In [43]:
df.loc['Greater London', 'population']

8663300

In [44]:
df.describe()

         population         area
count  4.000000e+00     4.000000
mean   7.164141e+06   772.000000
std    3.306720e+06   607.195191
min    2.229621e+06   105.000000
25%    6.925714e+06   496.500000
50%    8.577190e+06   705.500000
75%    8.815616e+06   981.000000
max    9.272565e+06  1572.000000

In [45]:
df['pop_density'] = df['population']/df['area']

In [46]:
df

                population  area   pop_density
cities
Greater London     8663300  1572   5511.005089
Tokyo              9272565   627  14788.779904
Paris              2229621   105  21234.485714
New York           8491079   784  10830.457908

In [13]:
import pandas as pd
gla_cities = pd.read_csv('GLA_World_Cities_2016.csv')
gla_cities.head(3)

,City,Country,Population,Inland area in km2,Density in people per hectare,Dwellings,Density in dwellings per hectare,People per dwelling,Approx city radius km,Main topographical constraint,Constraint
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Greater London,England,"8,663,300","1,572",55.0,"3,454,490",22.0,2.5,23.0,Rivers,4%
2,Inner London,England,"3,439,700",319,108.0,"1,460,840",46.0,2.4,10.0,Rivers,5%

In [45]:
renamecols = {'Inland area in km2': 'Area km2'}

gla_cities.rename(columns = renamecols, inplace = True)
gla_cities.columns

Index(['City', 'Country', 'Population', 'Area km2',
       'Density in people per hectare', 'Dwellings',
       'Density in dwellings per hectare', 'People per dwelling',
       'Approx city radius km', 'Main topographical constraint', 'Constraint'],
      dtype='object')

In [46]:
gla_cities.head(3)

,City,Country,Population,Area km2,Density in people per hectare,Dwellings,Density in dwellings per hectare,People per dwelling,Approx city radius km,Main topographical constraint,Constraint
1,Greater London,England,8663300.0,1572.0,55.0,3454490.0,22.0,2.5,23.0,Rivers,4%
2,Inner London,England,3439700.0,319.0,108.0,1460840.0,46.0,2.4,10.0,Rivers,5%
3,Outer London,England,5223500.0,1254.0,42.0,1993660.0,16.0,2.6,NaN,NaN,NaN

In [47]:
gla_cities.dropna(how='all', inplace=True)

In [48]:
gla_cities.shape

(17, 11)

In [77]:
gla_cities['pop_density'] = \
gla_cities['Population'] / gla_cities['Area km2']

In [51]:
gla_cities['Population'] = gla_cities['Population'].astype(str)

gla_cities['Population'] = gla_cities['Population'].str.replace(',', '').astype(float)

In [52]:
gla_cities['Population']

1     8663300.0
2     3439700.0
3     5223500.0
4     2229621.0
5      500715.0
6     3469849.0
7     3141991.0
8     1604555.0
9      693878.0
10    8491079.0
11    2722389.0
12     617594.0
13    6476631.0
14    2375151.0
15    3902710.0
16    9272565.0
17    2691742.0
Name: Population, dtype: float64

In [63]:
gla_cities['Area km2'] = gla_cities['Area km2'].astype(str)

gla_cities['Area km2'] = gla_cities['Area km2'].str.replace(',', '').astype(float)
gla_cities['Area km2']

1     1572.0
2      319.0
3     1254.0
4      105.0
5       48.0
6      892.0
7      606.0
8       98.0
9      141.0
10     784.0
11     590.0
12     125.0
13    1200.0
14     331.0
15     666.0
16     627.0
17     225.0
Name: Area km2, dtype: float64

In [61]:
gla_cities['Dwellings'] = gla_cities['Dwellings'].astype(str)
gla_cities['Dwellings'] = gla_cities['Dwellings'].str.replace(',', '').astype(float)
gla_cities['Dwellings'].head(2)

1    3454490.0
2    1460840.0
Name: Dwellings, dtype: float64

In [59]:
gla_cities['pop_density'] = \
gla_cities['Population'] / gla_cities['Area km2']
gla_cities['pop_density'].head(3)

1     5511.005089
2    10782.758621
3     4165.470494
Name: pop_density, dtype: float64

In [69]:
def city_size(x):
    
    if x < 1.5:
        s = 'Small'
    elif 1.5 <= x < 5:
        s = 'Medium'
    elif 3 <= x < 5:
        s = 'Large'
    else:
        s = 'Mega'
    return s

In [76]:
gla_cities['City Size'] = \
gla_cities['Population'].apply(city_size)

In [74]:
gla_cities[gla_cities['City Size'] == 'Small']

Empty DataFrame
Columns: [City, Country, Population, Area km2, Density in people per hectare, Dwellings, Density in dwellings per hectare, People per dwelling, Approx city radius km, Main topographical constraint, Constraint, pop_density, City Size]
Index: []